.form_margin_zero{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.navbar-fixed-top{
    padding-bottom: 0;
}
.nav-menu-padding{
    padding-top: 20px;
}

.admin-menu{
    margin-right: 20px;
}
#upload_file{
    padding-top: 250px;
}